.features {
  .bg {
    @include fill;
    pointer-events: none;
    z-index: -1;
  }

  .spacer {
    grid-row: span 5;
    grid-column: 1/-1;

    @include desktop {
      grid-row: span 8;
    }
  }
  .sectionTitle {
    grid-column: span 4;
    position: relative;
    border-right: 1px solid var(--theme-dot);
    color: var(--white);
    padding: mobile-vw(8px);

    @include desktop {
      padding: desktop-vw(6px) desktop-vw(8px);
      grid-column: span 6;
    }
  }

  .card {
    grid-column: 1/-1;
    grid-row: span 11;
    position: relative;
    border-right: 1px solid var(--theme-dot);
    grid-template-rows: auto 49% 1fr auto;
    display: grid;
    color: var(--white);
    padding: mobile-vw(16px);

    .dotMatrix {
      color: var(--green);
      width: mobile-vw(56px);
      height: mobile-vw(56px);
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: mobile-vw(16px);

      span {
        margin-bottom: mobile-vw(8px);
      }
    }
    > svg {
      width: mobile-vw(16px);
      height: auto;
    }

    @include desktop {
      grid-column: span 10;
      grid-row: span 14;
      padding: desktop-vw(16px);

      &:nth-child(3n) {
        grid-column: 7 / span 10;
      }
      &:nth-child(n + 6) {
        border-top: 1px solid var(--theme-dot);
      }
      &:nth-child(3n + 2),
      &:last-child {
        border-right: none;
      }

      .dotMatrix {
        width: desktop-vw(56px);
        height: desktop-vw(56px);

        svg {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        padding-bottom: desktop-vw(16px);

        span {
          margin-bottom: desktop-vw(8px);
        }
      }
      > svg {
        width: desktop-vw(17px);
        height: auto;
      }
    }
  }
}
