@font-face {
  font-family: 'Gothic725BT-BlackA';
  src: url(../public/fonts/Gothic725BT-BlackA.otf);
}

@font-face {
  font-family: 'Gothic720BT-LightB';
  src: url(../public/fonts/Gothic720BT-LightB.otf);
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #0F0F0F;
  font-family: Gothic725BT-BlackA, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  display: inline;
  font-size: inherit;
  font-family: inherit;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-we {
  0% {
    transform: translate(51%, -50%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-mpc {
  0% {
    transform: translate(-54%, 52%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}